<!DOCTYPE html>
<html>
  <head>
  	<link rel='stylesheet' href='/css/obsessed_style.css'>
    <title>Enrique Sees All...</title>
  </head>
  <body>
    <section id='message'>
      <h1>"Hello!"</h1>
      <a href="/timer">There's something you should know...</a>
    </section>
  </body>
</html>